//ЦВЕТА

@base-green: #13bf78;
@base-red: #db2c4d;
@base-white: #ffffff;
@base-blue:;
@base-black: #2b2b2b;

//ЦВЕТА


//ШРИФТЫ

@font-face {
    font-family: 'MagnoliaScript';
    src: url('../fonts/MagnoliaScript.eot');
    src: url('../fonts/MagnoliaScript.eot') format('embedded-opentype'),
         url('../fonts/MagnoliaScript.woff2') format('woff2'),
         url('../fonts/MagnoliaScript.woff') format('woff'),
         url('../fonts/MagnoliaScript.ttf') format('truetype'),
         url('../fonts/MagnoliaScript.svg#MagnoliaScript') format('svg');
}

.magnolia {
	font-family: 'MagnoliaScript', sans-serif;
}

.r300 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

.r400 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

.r700 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

.r900 {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
}





//ШРИФТЫ

//МЕЙН БЛОК

button, input, textarea {
	border: none;
	outline: none;
}

p, h1, h2, h3, h4, h5, h6 {
	cursor: default !important;
}

a, a:hover, a:active, a:visited {
	text-decoration: none !important;
}


a:focus {
	color: @base-black !important;
}

html::-webkit-scrollbar { width: 0; }

body {
	background-image: url(http://pattern4site.ru/images/wall/_thumb/4-fon-dlya-sayta.png);
	background-repeat: repeat;
}

.row {
	margin: 0;
	padding: 0;
}

.main-wrapper {
	height: 60px;
	background-color: @base-white;
	/*border-bottom: solid 3px #848484;*/
	position: fixed;
	width: 100%;
	z-index: 10;
}

.logo {
	font-size: 20px;
	margin: auto;
	text-align: center;
	line-height: 60px;
}

.top-nav {
	display: inline-block;
	-webkit-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
	&:hover {
		border-bottom: 5px solid @base-red;
		-webkit-transition: 0.3s ease-out;
		-o-transition: 0.3s ease-out;
		transition: 0.3s ease-out;
	}
}



.main-nav {
	padding-right: 10px;
	padding-left: 10px;
	color: #848484;
	font-size: 15px;
}

.main-nav:hover {
	color: darken(#848484, 50%);
	transition: 0.4s;
}


.navig {
	margin-right: 5%;
	line-height: 60px;
}

.main-screen {
	background-image: url(../img/bg.jpg);
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	min-height: 600px;
	max-height: 850;
}

/*
form {
	float: right;
	margin-top: 38%;
	margin-right: 18%;
	height: 390px;
	width: 290px;
	background-color: @base-white;
}
*/

.row {
  margin-right: 0px;
}


#application {
	text-align: center;
	font-size: 14px;
	background-color: rgba(1,1,1,0);
	margin-top: 5%;
	margin: 0 auto;
	padding: 27px 16px;
}


#zayavkaName, #applicationTelephone {
	text-align: center;
	margin-bottom: 30px;
	font-size: 19px;
	border: 2px solid @base-red;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: rgba(1,1,1,0);
	transition: 1s;
	color: @base-white;
}

#zayavkaName::-webkit-input-placeholder { 
	color: #dcdcdc; 
}

#applicationTelephone::-webkit-input-placeholder { 
	color: #dcdcdc; 
}

#zayavkaName {
	margin-right: 2%;
}

#applicationTelephone {
	margin-left: 2%;
}

h1 {
	margin-top: 30%;
	color: @base-white;
	text-align: center;
	font-size: 40px;
	.magnolia
}

.p-utp {
	margin-top: 5%;
	color: @base-white;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	.r300
}

/* Rectangle Out */
.hvr-rectangle-out {
	padding: 8px 27px;
	position: relative;
	font-size: 26px;
	margin: 0 auto;
	display: block;
/*  vertical-align: middle;*/
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: @base-red;
	color: @base-white;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: darken(@base-red, 15%);
	
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
  color: @base-white;
}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

h2 {
	text-transform: uppercase;
	.r900;
	font-size: 40px;
	text-align: right;
	margin: 5% 0 2% 0;
	color: @base-black;
}

h6 {
	text-transform: uppercase;
	.r900;
	font-size: 40px;
	margin: 5% 0 0;
	color: @base-black;
}


h3 {
	text-transform: uppercase;
	.r900;
	font-size: 40px;
	text-align: right;
	margin: 5% 0 0;
	color: @base-black;
}

h5 {
	text-transform: uppercase;
	.r900;
	font-size: 40px;
	margin-bottom: ;
	text-align: right;
	margin: 5% 0 0;
	color: @base-black;
}


.fluid {
	margin: 0;
	padding: 0;
}

.broken {

}

.heart {
	text-align: right;
	.r300;
	font-size: 20px;
}

.allwork {
	.r300;
	font-size: 20px;
}


.mastername {
	text-align: left;
	.r700;
	font-size: 25px;
	color: @base-white;
	padding: 7% 8% 2% 14%;
}

.aboutmaster {
	text-align: left;
	.r300;
	font-size: 14px;
	color: @base-white;
	padding: 0% 8% 5% 14%;
}

.nomarg {
	margin: 0;
	padding: 0;
}

.left {
	background-image: url(../img/broken_noise.png);
	height: 50%;
	background-size: cover;
	text-align: center;
}

.right {
	background-image: url(../img/Picture-122.jpg);
	height: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.left-2 {
	background-image: url(../img/Picture-123.jpg);
	height: 50%;
	background-size: cover;
	text-align: center;
}

.right-2 {
	background-image: url(../img/broken_light.png);
	height: 50%;
	background-size: cover;
	text-align: center;
}

.left-3{
	background-image: url(../img/broken_noise.png);
	height: 50%;
	background-size: cover;
	text-align: center;
}

.right-3 {
	background-image: url(../img/Picture-122.jpg);
	height: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}


.uslugi {
	position: relative;
	width: 100%;
}

.tatu-2 {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 40px;
	width: 100%;
	background-color: rgba(255,255,255,0.8);
	text-align: center; 
}

.tatu-text {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	height: 180px;
	width: 100%;
	background-color: rgba(43,43,43,0.8);
	color: @base-white;
	text-align: center; 
	padding: 6% 5%;
	font-size: 15px;
	&:hover {
		opacity: 1;
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
	}
}

.usluga-name {
	padding: 0;
	margin: 0;
	color: @base-black;
	font-size: 20px;
	.r700;
	line-height: 40px;
	text-transform: uppercase;
}

.img-uslugi {
	width: inherit;
	height: 220px;
}

.button-window {
	padding: 8px 27px;
	position: relative;
	font-size: 26px;
	display: block;
	width: 350px;
	text-align: center;
	margin: 5% auto 0;
	display: block;
/*  vertical-align: middle;*/
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: @base-red;
	color: @base-white;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.button-window:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: darken(@base-red, 15%);
	
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.button-window:hover, .button-window:focus, .button-window:active {
  color: @base-white;
}
.button-window:hover:before, .button-window:focus:before, .button-window:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.fotorow {
	text-align: -webkit-center;
}

.fiveth {
	background-image:;
	padding-bottom: 70px;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

.feedback-box-right {
	padding-bottom: 15px;
	width: 80%;
	background-color: @base-black;
	position: relative;
	padding-left: 50px;
}

.feedback-box-left {
	padding-bottom: 15px;
	width: 80%;
	background-color: @base-black;
	position: relative;
}

.img-circle {
	width: 150px;
}

.feedback-row {
	margin-top: 50px;
}

.feedback2-row {
	margin-top: 50px;
}
.feedback-img-left {
	position: absolute;
  top: 12%;
	left: -14%;
	-webkit-border: 3px solid @base-black;
	-moz-border: 3px solid @base-black;
	-ms-border: 3px solid @base-black;
	-o-border: 3px solid @base-black;
	border: 3px solid @base-black;
}
.feedback-img-right {
	position: absolute;
  top: 12%;
	left: 86%;
	-webkit-border: 3px solid @base-black;
	-moz-border: 3px solid @base-black;
	-ms-border: 3px solid @base-black;
	-o-border: 3px solid @base-black;
	border: 3px solid @base-black;
}
.feed-back-text {
	color: @base-white;
	padding: 5px 20px 0px 89px;
	margin: 0;
}
.feed-back-name {
	color: @base-white;
	padding: 19px 25px 0px 89px;
}
.feed-back-name-r {
	color: @base-white;
	padding: 19px 25px 0px 0px;
}
.feed-back-text-r {
	color: @base-white;
	padding: 5px 70px 0px 0px;
	margin: 0;
}
.fa-vk {
	font-size: 25px;
	color: @base-white;
	&:hover {
		color: @base-red;
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
	}
}
.far {
	padding: 8px 0px 0px 0px;
}
.fal {
	padding: 8px 0px 0px 89px;
}

.contacts {
	text-transform: uppercase;
	.r900;
	font-size: 40px;
	text-align: left;
	margin: 3% 0 0;
	color: @base-black;
	margin-bottom: 20px;
}

.lgdivmap {
	padding: 0 !important;
	margin: 0 !important;
}


.ab {
	margin-top: 50px;
}

.aboutus {
	text-transform: uppercase;
	.r900;
	font-size: 25px;
	color: @base-black;
}

.location {
	.r700;
	font-size: 20px;
	color: @base-black;
}

.phoneus {
	.r700;
	font-size: 20px;
	color: @base-black;
}

.emailus {
	.r700;
	font-size: 20px;
	color: @base-black;
}

.socialus {
	.r700;
	font-size: 20px;
	margin-bottom: ;
	color: @base-black;
}

.instaus {
	font-size: 30px;
	color: @base-black;
	margin-left: 2px;
	&:hover {
		color: @base-red;
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
	}
}

.fas {
	color: @base-black;
	font-size: 30px;
	margin-right: 2px;
	color: @base-black;
	&:hover {
		color: @base-red;
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
	}
}

.question {
	display: block;
	margin: 25px auto 0 auto;
	width: 300px;
	cursor: pointer;
}

.footer {
	width: 100%;
	height: 50px;
	background-color: @base-black;
	margin-top: 30px;
}

.politics {
	color: @base-white;
	padding: 0;
	margin: 0;
	&:hover {
		color: darken(@base-white, 15%);
	}
}

.allright {
	color: @base-white;
	padding: 0;
	margin: 0;
}

.copyright {
	color: @base-white;
	padding: 0;
	margin: 0;
}

.foot {
	padding-top: 5px;
}

/*popup*/

.popup {
	width: 400px;
	height: 500px;
	background-image: url(http://pattern4site.ru/images/wall/_thumb/10-fon-dlya-sayta.png);
	background-repeat: repeat;
	position: fixed;
	top: 10%;
	left: 50%;
	margin-left: -200px;
	&-politics {
		width: 50%;
		background-image: url(http://pattern4site.ru/images/wall/_thumb/10-fon-dlya-sayta.png);
		background-repeat: repeat;
		position: fixed;
		top: 10%;
		left: 25%
	}
	&-close {
		font-size: 30px;
		color: @base-black;
		position: absolute;
		top: 0;
		right: 10px;
		&:hover {
			opacity: .7;
		}
		&:focus, &:active, &:visited {
			text-decoration: none;
			color: @base-black;
		}
	}
	&-overlay {
		display: none;
		opacity: 0;
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		z-index: 999;
		background-color: rgba(0,0,0,0.4);
		&:target {
			opacity: 1;
			display: block;
		}
	}
}


/*popup*/

/*popup form*/

.popup-header {
	text-align: center;
	margin-top: 5%;
	color: @base-black;
	.r700;
	font-size: 25px;
}

#popup-form {
	text-align: center;
	font-size: 14px;
	background-color: rgba(1,1,1,0);
	margin-top: 5%;
	margin: 0 auto;
	padding: 27px 16px;
}


#popup-name, #popup-telephone {
	text-align: center;
	margin-bottom: 30px;
	font-size: 19px;
	border: 2px solid @base-red;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: rgba(1,1,1,0);
	transition: 1s;
	color: @base-black;
}

#popup-name::-webkit-input-placeholder { 
	color: @base-black; 
}

#popup-telephone::-webkit-input-placeholder { 
	color: @base-black; 
}
#popup-text-area::-webkit-input-placeholder { 
	color: @base-black;
	font-size: 19px;
	text-align: center;
}


#popup-name {
	display: block;
	margin: 0 auto 5% auto;
}

#popup-telephone {
	display: block;
	margin: 0 auto 7% auto;
}

#popup-text-area {
	text-align: center;
	width: ;
	border: 2px solid @base-red;
	font-size: 19px;
	width: 241px;
	background-color: transparent;
}


.popup-btn {
	margin-top: 5%;
}

.politics-text {
	width: 100%;
	text-align: left;
	padding: 10px 20px 10px 20px;
}


// Очень малые устройства (портрет телефонов, менее 544px)  
@media (max-width: 543px) {
	#zayavkaName {
    margin-right: 0 !important;
		font-size: 24px;
	}
	#applicationTelephone {
    margin-left: 0 !important;
		font-size: 24px;
	}
	h1 {
    margin-top: 44%;
    font-size: 33px;
	}
	.main-wrapper {
		display: none;
	}
	.p-utp {
    margin-top: 11%;
	}
	h2 {
    font-size: 30px;
    margin: 8% 0 3% 0;
	}
	h6 {
    font-size: 30px;
    margin: 11% 0 0;
	}
	h3 {
    font-size: 30px;
    margin: 7% 0 0;
	}
	h5 {
    font-size: 27px;
    margin: 7% 0 0;
	}
	.contacts {
    font-size: 30px;
    margin: 0% 0 12px;
	}
	.aboutmaster {
    font-size: 12px;
    padding: 0 8% 5% 14%;
	}
	.mastername {
    font-size: 21px;
    padding: 5% 0% 2% 14%;
	}
	.feedback-img-left {
    top: 21%;
    left: -32%;
	}
	.feedback-img-right {
    top: 21%;
    left: 79%;
	}
	.feed-back-text {
    padding: 5px 20px 0px 68px;
    margin: 0;
    font-size: 12;
	}
	.feed-back-text-r {
    padding: 5px 65px 0px 0px;
    margin: 0;
    font-size: 12px;
	}
	.feedback-box-left {
    margin-bottom: 11%;
	}
	.feed-back-name {
    padding: 19px 25px 0px 68px;
	}
	.feedback-row {
    margin-top: 17px;
	}
	.feedback2-row {
    margin-top: 39px;
	}
	.uslugi {
    margin-bottom: 5%;
	}
}

// Небольших устройств (альбомной телефоны, 544px и вверх)  
@media (min-width: 544px) and (max-width: 767px) {
	
}

// Устройствах среднего (планшеты, 768px и выше)  
@media (min-width: 768px) and (max-width: 991px) {
	
}













