
*::-webkit-input-placeholder {
	color: #28231c;
	opacity: 1;
}
*:-moz-placeholder {
	color: #28231c;
	opacity: 1;
}
*::-moz-placeholder {
	color: #28231c;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #28231c;
	opacity: 1;
}
*{
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
input,
textarea,
.btn,
button{
    outline: none!important;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
    overflow: visible !important;
	font-family: sans-serif;
	font-size: 18px;
	min-width: 320px;
	position: relative;
	line-height: normal;
    font-family: "Palatino Linotype";
	overflow-x: hidden;
    /*min-height: 10000px;*/
    min-width: 1150px;
    display: table;
    width: 100%;
	height: 100%;
    /*background: url(../images/bg.jpg) no-repeat center 0px;*/
}
button,
.btn,
input,
textarea {
    border: none;
}
p {
    line-height: normal;
}
a:hover,
a {
 cursor: pointer;
 outline: none;   
}
img{
 outline: none;    
}
.hidden {
	display: none;
}
.container {
    width: 1115px;
}
/************************* #header ********************************/
#header {
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    width: 100%;
    z-index: 11;
    position: relative;
    background: url(../images/img.jpg) no-repeat center 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#header div.container {
    height: auto;
    padding-bottom: 30px;
    background: url(../images/header.png) no-repeat center 162px;
}
#header img.logo {
    margin: 0px 0px 0px 115px;
	padding: 0px 0px 0px 0px;
    float: left;
}
#header h2 {
    margin: 4px 200px 0px 0px;
	padding: 0px 0px 0px 0px;
    color: #463260;
font-family: "Palatino Linotype";
font-size: 40px;
font-weight: 400;
line-height: 48px;
text-align: center;
}
#header h5 {
    margin: 419px 0px 0px 129px;
	padding: 0px 0px 0px 0px;
    color: #8d5c3c;
font-family: "Palatino Linotype";
font-size: 17px;
font-weight: 400;
line-height: 20px;
}
#header h3 {
    margin: 0px 0px 0px 128px;
	padding: 0px 0px 0px 0px;
    color: #5d1b00;
font-family: "Palatino Linotype";
font-size: 41px;
font-weight: 400;
line-height: 44px;
}
/********/
#header div.cena {
    margin: 29px 0px 0px 316px;
	padding: 0px 0px 0px 0px;
    float: left;
    width: 400px;
}
#header div.cena h2 {
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    color: #46325f;
font-family: "Palatino Linotype";
font-size: 34px;
font-weight: 400;
line-height: 41px;
text-align: center;
}
#header div.cena h4 {
    margin: 12px auto 0px;
	padding: 0px 0px 0px 0px;
    width: 364px;
height: 81px;
background: url(../images/img2.png) no-repeat 0px 0px;
color: white;
font-family: "Palatino Linotype";
font-size: 55px;
font-weight: 400;
line-height: 66px;
text-align: center;
}
#header div.cena h5 {
    margin: 22px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    font-family: "Palatino Linotype";
font-size: 18px;
font-weight: 400;
line-height: 22px;
color: #3d3d3d;
text-align: center;
}
#header div.cena h5 span {
    color: #8c0000;
}
#header div.cena img.img3 {
    margin: 21px auto 0px;
    display: table;
}
/*************/
#header form {
    margin: 82px 3px 0px 0px;
	padding: 0px 0px 0px 0px;
    float: right;
    width: 340px;
}
#header form input {
    margin: 0px auto 15px;
	padding: 0px 0px 0px 25px;
    width: 335px;
    height: 55px;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #a4a4a4;
    font-family: "Palatino Linotype";
    font-size: 22px;
    font-weight: 400;
    line-height: 55px;
    outline: none;
}
#header .btn {
    outline: none;
	padding: 0px 0px 0px 0px;
	margin: 6px auto 0px;
    text-align: center;
    display: block;
    color: white;
    font-family: "Palatino Linotype";
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    background: #78BA0F;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 2px 2px 0px 0px #5A8810;
    -moz-box-shadow:    2px 2px 0px 0px #5A8810;
    box-shadow:         2px 2px 0px 0px #5A8810;
    width: 250px;
    height: 64px;
    line-height: 64px;
}

/************************* #block ********************************/
#block {
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    width: 100%;
    height: 3px;
    z-index: 10;
    position: relative;
    background-color: #463261;
}
#block h2 {
    margin: 8px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    text-align: center;
    color: white;
font-family: "Palatino Linotype";
font-size: 34px;
font-weight: 400;
line-height: 41px;
}
/************************* #block2 ********************************/
#block2 {
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    width: 100%;
    height: 537px;
    z-index: 10;
    position: relative;
    background: url(../images/img6.jpg) no-repeat 0px 0px #2a2732;
}
#block2 p {
    margin: 49px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    color: #fbfbfb;
font-family: "Palatino Linotype";
font-size: 22px;
font-weight: 400;
line-height: 31px;
}
#block2 h5 {
    margin: 90px 0px 0px 0px;
	padding: 0px 30px;
    color: #e1d8fc;
font-family: "Palatino Linotype";
font-size: 20px;
font-weight: 400;
line-height: 24px;
font-style: italic;
background: url(../images/img7.png) no-repeat center 0px;
width: 778px;
}
#block2 img.img8 {
    margin: 28px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    float: right;
}
#block2 h4 {
    margin: 52px 27px 0px 0px;
	padding: 0px 0px 0px 0px;
    color: white;
font-family: "Palatino Linotype";
font-size: 20px;
font-weight: 400;
line-height: 24px;
float: right;
}

/************************* #block3 ********************************/
#block3 {
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    width: 100%;
    height: 65px;
    z-index: 10;
    position: relative;
    background-color: #463261;
}
#block3 h2 {
    margin: 11px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    text-align: center;
color: white;
font-family: "Palatino Linotype";
font-size: 34px;
font-weight: 400;
line-height: 41px;
}
/************************* #block4 ********************************/
#block4 {
    margin: 0px 0px 0px 0px;
	padding: 35px 0px 9px 0px;
    width: 100%;
    z-index: 10;
    position: relative;
}
/******************************************/
#block4 .thumbnail {
  display: block;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
  line-height: 1.42857143;
  background: none;
  border: 0px solid #fff;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#block4 .thumbnail img {
	margin: 0px auto 0px;
    display: block;
    width: auto;
    height: 340px;
}
#block4 .thumbnail .caption {
  margin: -20px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  text-align: center;
}
#block4 .thumbnail .caption h3 {
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    color: #7352a1;
font-family: "Palatino Linotype";
font-size: 22px;
font-weight: 400;
line-height: 30px;
}
#block4 .thumbnail .caption p {
    margin: 7px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    font-family: "Palatino Linotype";
font-size: 22px;
font-weight: 400;
line-height: 26px;
}
#block4 .thumbnail .caption h5 {
    margin: 5px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    color: #463261;
font-family: "Palatino Linotype";
font-size: 15px;
font-weight: 400;
line-height: 18px;
}
/************************* #block5 ********************************/
#block5 {
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    width: 100%;
    height: 65px;
    z-index: 10;
    position: relative;
    background-color: #463261;
}
#block5 h2 {
    margin: 11px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    text-align: center;
color: white;
font-family: "Palatino Linotype";
font-size: 34px;
font-weight: 400;
line-height: 41px;
}

/************************* #block6 ********************************/
#block6 {
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 35px 0px;
    width: 100%;
    z-index: 10;
    position: relative;
    background: url(../images/img13.jpg) no-repeat center 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#block6 div.container {
    background: url(../images/img14.png) no-repeat center 0px;
    min-height: 500px;
}
#block6 p {
    margin: 155px 0px 62px 0px;
	padding: 0px 0px 0px 0px;
    color: #353533;
font-family: "Palatino Linotype";
font-size: 22px;
font-weight: 400;
line-height: 31px;
text-align: center;
}
/************/
#block6 div.galereia {
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    width: 700px;
    margin: 0px auto 0px;
}
#block6 div.galereia div.col-xs-3 {
    margin-bottom: 18px;
}
#block6 div.galereia div.col-xs-3 > img {
    margin: 0px auto 0px;
    display: table;
}
#block6 h2 {
    margin: 23px 0px 23px 0px;
	padding: 0px 0px 0px 0px;
    text-align: center;
    font-family: "Palatino Linotype";
font-size: 23px;
font-weight: 400;
line-height: 32px;
color: #353533;
}
#block6 h2 span {
    color: #463260;
}

/************/
#block6 div.galereia2 {
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    width: 800px;
    margin: 0px auto 0px;
}
#block6 div.galereia2 div.col-xs-4 {
    margin-bottom: 18px;
}
#block6 div.galereia2 div.col-xs-4 > img {
    margin: 0px auto 0px;
    display: table;
}
/************************* #block7 ********************************/
#block7 {
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    width: 100%;
    height: 65px;
    z-index: 10;
    position: relative;
    background-color: #463261;
}
#block7 h2 {
    margin: 11px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    text-align: center;
color: white;
font-family: "Palatino Linotype";
font-size: 34px;
font-weight: 400;
line-height: 41px;
}
/************************* #block8 ********************************/
#block8 {
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 50px 0px;
    width: 100%;
    
    z-index: 10;
    position: relative;
    background: url(../images/img26.jpg) no-repeat 0px 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#block8 div.container {
    min-height: 400px;
    background: url(../images/img27.png) no-repeat 62px 27px;
}
#block8 h3 {
    margin: 66px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    color: #353533;
font-family: "Palatino Linotype";
font-weight: 400;
font-size: 28px;
line-height: 39px;
}
#block8 p {
    margin: 30px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    color: #353533;
font-family: "Palatino Linotype";
font-weight: 400;
font-size: 22px;
line-height: 31px;
}
/************/
#block8 div.galereia {
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    width: 700px;
    margin: 48px auto 0px;
}
#block8 div.galereia div.col-xs-3 {
    margin-bottom: 0px;
}
#block8 div.galereia div.col-xs-3 > img {
    margin: 0px auto 0px;
    display: table;
}
/************************* #block9 ********************************/
#block9 {
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    width: 100%;
    height: 65px;
    z-index: 10;
    position: relative;
    background-color: #463261;
}
#block9 h2 {
    margin: 11px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    text-align: center;
color: white;
font-family: "Palatino Linotype";
font-size: 34px;
font-weight: 400;
line-height: 41px;
}

/************************* #block10 ********************************/
#block10 {
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 52px 0px;
    width: 100%;
    z-index: 10;
    position: relative;
    background: url(../images/img32.jpg) no-repeat center 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#block10 .container {
    background: url(../images/img33.png) no-repeat right 53px;
}
#block10 h3 {
    margin: 139px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    color: #353533;
font-family: "Palatino Linotype";
font-weight: 400;
font-size: 28px;
line-height: 39px;
}
#block10 p {
    margin: 29px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    color: #353533;
font-family: "Palatino Linotype";
font-weight: 400;
font-size: 22px;
line-height: 31px;
}
/************/
#block10 div.galereia {
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    width: 700px;
    margin: 141px auto 0px;
}
#block10 div.galereia div.col-xs-3 {
    margin-bottom: 0px;
}
#block10 div.galereia div.col-xs-3 > img {
    margin: 0px auto 0px;
    display: table;
}

/************************* #block11 ********************************/
#block11 {
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    width: 100%;
    height: 65px;
    z-index: 10;
    position: relative;
    background-color: #463261;
}
#block11 h2 {
    margin: 11px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    text-align: center;
color: white;
font-family: "Palatino Linotype";
font-size: 34px;
font-weight: 400;
line-height: 41px;
}
/************************* #block12 ********************************/
#block12 {
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 72px 0px;
    width: 100%;
    z-index: 10;
    position: relative;
    background: url(../images/img38.jpg) no-repeat center 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#block12 .container {
    background: url(../images/img39.png) no-repeat 97px 35px;
    min-height: 400px;
}
#block12 p {
    margin: 100px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    color: #353533;
font-family: "Palatino Linotype";
font-size: 22px;
font-weight: 400;
line-height: 31px;
}
/************/
#block12 div.galereia {
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    width: 700px;
    margin: 107px auto 0px;
}
#block12 div.galereia div.col-xs-3 {
    margin-bottom: 0px;
}
#block12 div.galereia div.col-xs-3 > img {
    margin: 0px auto 0px;
    display: table;
}
/************************* #block13 ********************************/
#block13 {
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    width: 100%;
    height: 65px;
    z-index: 10;
    position: relative;
    background-color: #463261;
}
#block13 h2 {
    margin: 11px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    text-align: center;
color: white;
font-family: "Palatino Linotype";
font-size: 34px;
font-weight: 400;
line-height: 41px;
}
/************************* #block14 ********************************/
#block14 {
    margin: 0px 0px 0px 0px;
	padding: 40px 0px 49px 0px;
    width: 100%;
    z-index: 10;
    position: relative;
    background: url(../images/img44.jpg) no-repeat center 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#block14 p {
    margin: 0px 0px 41px 0px;
	padding: 0px 0px 0px 0px;
    font-family: "Palatino Linotype";
font-size: 22px;
font-weight: 400;
line-height: 26px;
color: #463260;
text-align: center;
}
#block14 p a {
    color: #00a3d8;
}
/******************************************/
#block14 .thumbnail {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  line-height: 1.42857143;
  background: none;
  border: 0px solid #fff;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#block14 .thumbnail img {
	margin: 0px auto 34px;
    display: block;
    width: auto;
    height: 200px;
}
#block14 .thumbnail .caption {
  margin: 0px 0px 0px 0px;
  padding: 0px 17px;
}
#block14 .thumbnail .caption h3 {
    margin: 0px 0px 32px 0px;
	padding: 0px 0px 0px 0px;
    text-align: center;
    font-family: "Palatino Linotype";
font-size: 22px;
font-weight: 400;
line-height: 26px;
color: #333;
}
#block14 .thumbnail .caption p {
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    text-align: center;
    color: #353533;
font-family: "Palatino Linotype";
font-size: 16px;
font-weight: 400;
line-height: 19px;
}
/************************* #block15 ********************************/
#block15 {
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    width: 100%;
    height: 65px;
    z-index: 10;
    position: relative;
    background-color: #463261;
}
#block15 h2 {
    margin: 11px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    text-align: center;
color: white;
font-family: "Palatino Linotype";
font-size: 34px;
font-weight: 400;
line-height: 41px;
}

/************************* #block16 ********************************/
#block16 {
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 186px 0px;
    width: 100%;
    z-index: 10;
    position: relative;
    background: url(../images/img48.jpg) no-repeat center 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#block16 p {
    margin: 155px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    color: #333;
font-family: "Palatino Linotype";
font-size: 22px;
font-weight: 400;
line-height: 26px;
}
/************************* #block17 ********************************/
#block17 {
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    width: 100%;
    height: 64px;
    z-index: 10;
    position: relative;
    background-color: #ff4d4d;
}
#block17 h2 {
    margin: 11px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    text-align: center;
color: white;
font-family: "Palatino Linotype";
font-size: 34px;
font-weight: 400;
line-height: 41px;
}

/************************* #block18 ********************************/
#block18 {
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    width: 100%;
    height: 64px;
    z-index: 10;
    position: relative;
    background-color: #463261;
}
#block18 h2 {
    margin: 11px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    text-align: center;
color: white;
font-family: "Palatino Linotype";
font-size: 34px;
font-weight: 400;
line-height: 41px;
}

/************************* #block19 ********************************/
#block19 {
    margin: 0px 0px 0px 0px;
	padding: 73px 0px 0px 0px;
    width: 100%;
    z-index: 10;
    position: relative;
    background: url(../images/img49.jpg) no-repeat center 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#block19 div.col-xs-3 {
    
}
#block19 div.col-xs-3 img {
    margin: 0px auto 0px;
    display: table;
}
#block19 div.col-xs-1 {
    margin: 0px 0px 0px 0px;
	padding: 88px 0px 0px 0px;
}
#block19 div.col-xs-1 img {
    margin: 0px auto 0px;
    display: table;
}
#block19 .btn {
    outline: none;
    padding: 0px 0px 0px 0px;
    margin: 64px auto 32px;
    text-align: center;
    display: block;
    color: white;
    font-family: "Palatino Linotype";
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    background: #78BA0F;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 2px 2px 0px 0px #5A8810;
    -moz-box-shadow:    2px 2px 0px 0px #5A8810;
    box-shadow:         2px 2px 0px 0px #5A8810;
    width: 465px;
    height: 64px;
    line-height: 64px;
}


/************************* #block20 ********************************/
#block20 {
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    width: 100%;
    height: 8px;
    z-index: 10;
    position: relative;
    background-color: #463261;
}
#block20 h2 {
    margin: 11px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    text-align: center;
color: white;
font-family: "Palatino Linotype";
font-size: 34px;
font-weight: 400;
line-height: 41px;
}
/***********/
.header {
    padding-top: 36px !important;
}
.header div.container {
    background: url(../images/header.png) no-repeat center 30px !important;
}

/************************* #block21 ********************************/
#block21 {
    margin: 0px 0px 0px 0px;
	padding: 20px 0px 10px 0px;
    width: 100%;
    z-index: 10;
    position: relative;
    background: #463260;
    text-align: center;
    color: rgba(255,255,255,0.8);
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}
#block21 div.container {
    width: 888px;
}
#block21 p.pos1 {
    margin: 0px 0px 21px 0px;
	padding: 0px 0px 0px 0px;
    text-align: center;
    color: white;
font-family: "Palatino Linotype";
font-size: 18px;
font-weight: 400;
line-height: 25px;
}
#block21 p.pos2 {
    margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
    font-family: "Palatino Linotype";
font-size: 18px;
font-weight: 400;
line-height: 20px;
color: white;
}
#block21 p.pos2 span {
    color: #78ba0f;
}

.error{
    border:1px solid red;
}


.countdown-wrapper {
    
    padding: 28px 0 0 24px;
    zoom: 0.7;
    -moz-transform: scale(0.7);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.7);
    -o-transform-origin: 0 0;
    overflow: hidden;
}
.btn:hover{
    background: #86D20E !important;
}
















