/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1600px) {
    #block3 div.col-xs-6.left p {
        margin: 20px 0px 0px 10%;
    	padding: 0px 0px 0px 27px;
        color: white;
        font-family: Geometria-Medium;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        background: url(../images/img7.png) no-repeat 0px center;
    }
    #block3 div.col-xs-6.left h5 {
        margin: 9px 0px 0px 14%;
    	padding: 0px 0px 0px 0px;
        margin-bottom: 59px;
    	padding: 0px 0px 0px 0px;
        color: white;
        font-family: Geometria-Medium;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
    }
    #block3 div.col-xs-6.left h2 {
        margin: 45px 0px 0px 14%;
    	padding: 0px 0px 0px 0px;
        color: white;
        font-family: Geometria-Bold;
        font-size: 60px;
        font-weight: 700;
    }
    #block3 div.col-xs-6.left h1 {
        margin: 54px 0px 0px 20%;
    	padding: 0px 0px 0px 0px;
        color: white;
        font-family: Geometria-Heavy;
        font-size: 40px;
        font-weight: 800;
        float: left;
    }
    #block3 div.col-xs-6.right h2 {
        margin: 383px 0px 0px 20%;
    	padding: 0px 0px 0px 0px;
        color: white;
        font-family: Geometria-Bold;
        font-size: 60px;
        font-weight: 700;
    }
    #block3 div.col-xs-6.right p {
        margin: 10px 0px 0px 20%;
    	padding: 0px 0px 0px 0px;
        color: white;
        font-family: Geometria-Medium;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    
}