/*Таймер*/
.countbox {
    height: 59px;
    width: 100%;
    padding-left: 22px;
    margin: 0 auto;
}
.countbox .countbox-num {
    float: left;
}
.countbox .countbox-space {
    float: left;
    height: 48px;
    width: 28px;
    line-height: 48px;
    text-align: left;
}
.countbox-hours1, .countbox-mins1, .countbox-secs1, .countbox-hours2, .countbox-mins2, .countbox-secs2 {
    float: left;
    margin-right: 7px;
    width: 30px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    z-index: 1;
    color: #373a41;
    background: url(../img/timer.png) no-repeat 0 0;
    font-size: 22px;
    font-weight: 700;
}
.countbox-secs2 {
    margin-right: 0;
}
.countbox-hours-text, .countbox-mins-text, .countbox-secs-text {
    font-size: 14px;
    font-weight: 400;
    color:#fff;
    text-align: center;
    text-transform: lowercase;
}